@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@400;500&family=Roboto+Mono:wght@400;700&display=swap');

:root {
  --background-color: rgb(255, 255, 255);
  --font-color: rgb(0, 0, 0);
  --main-color: rgb(1, 89, 138);
  --secondary-color: rgba(155, 180, 243, 0.5);
  --error-text-color-op5: rgba(255, 0, 0, 0.05);
  --error-text-color-op25: rgba(255, 0, 0, 0.25);
  --error-text-color: red;
  --font-family: 'Roboto Mono', monospace;
  --spacing-xs: 1rem;
  --spacing-sm: 1.5rem;
  --spacing-md: 2rem;
  --spacing-lg: 3rem;
  --main-border-radius: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgb(0, 0, 0);
    --font-color: rgb(181, 181, 181);
  }
}

:root {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 1.2;
  font-weight: normal;
  background-color: var(--background-color);
  color: var(--font-color);
}
